* {
box-sizing: border-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
}
.liner{
    width:100px;
    border:3px solid #c1d3d5;
}
.contacts{

}
h1{
color:white;    
}
h3{
    color:grey;
}

body {
    background: #d5d1d1;
    margin: 0;
    padding: 0;
    font-family:  'Encode Sans Expanded', sans-serif;
    line-height: 18px;
   color: #798486;
/*    font-size: 12px;*/
			
/*    color: #222;*/

}
#container {
    background-color:#e7e7e7;
    width: 900px;
    margin: 0 auto 15px auto;
    overflow: hidden;		
    box-shadow: 0 0 6px #ccc;
}

.header{
    padding: 35px;
    height:300px;
    background-color:#c1d3d5;
    text-align: center;

}
.profile-picture{
    margin:0 auto;
    border-radius: 100px;
    width: 200px;
    height: 200px;
    background-image: url(../img/placeholder.jpg);
    background-repeat: no-repeat;
    background-size: 200px;
}
.side , .main{
    display:inline-block;
    padding: 35px;
    height:inherit;
    vertical-align:top;
}
.side{
     width:30%;
    background-color:white;
}
.main{
     width:70%;
  
}

.company , .title , .inistitution, .course {
    display: inline;
}
.work , .education{
    margin-top: 20px
}