	body {
			background: #d5d1d1;
			margin: 0;
			padding: 0;
			
			font-family: 'Helvetica Neue', Helvetica, Arial;
			line-height: 18px;
			font-size: 12px;
			
			color: #222;
		}
#container{
			background: #fff;
			width: 900px;
        height: 1000px;
			padding: 35px;
			margin: 0 auto 15px auto;
			overflow: hidden;
			box-shadow: 0 0 6px #ccc;
    

		}
.header{
    grid-area: header;
}
.side{
    grid-area:side;
}
.main{
    grid-area:main;
}